/*
 * Many of the CSS rules here were directly copied, or slightly altered, from
 * the original Puzzle storm on Lichess.
 *
 * https://github.com/lichess-org/lila
 */

@font-face {
  font-family: 'clock';
  font-style: normal;
  font-weight: 400;

  src: url('fonts/Segment7.woff2') format('woff2');
}

body {
  background: #161512;
  color: hsl(0, 0%, 73%);
}

.storm {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.clock {
  position: relative;
  font-family: "clock";
  font-size: 5em;
  color: #BABABA;
  text-align: right;
  transition: color 0.3s;
}

.clock.clock-indicate-bonus {
  color: hsl(88, 62%, 37%);
}

.clock.clock-indicate-malus {
  color: #ff441d;
}

.score {
  font-family: "clock";
  font-size: 5em;
  color: #BF811D;
  text-align: right;
}

.dashboard {
  background: #262421;
  width: 20%;
  margin: 20px;
  padding: 20px;
}

@keyframes mod-fade-out {
  from {
    transform: translate(10px, -10px);
    opacity: 1;
  }

  to {
    transform: translate(10px, -40px);
    opacity: 0.3;
  }
}

.board {
  flex-grow: 1;
  justify-content: center;
}

.shudan-goban {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

h1 { font-size: 50px; text-align: center; }

.clock-bonus, .clock-malus {
  font-family: "clock";
  font-size: 0.3em;
  margin: 0.3ch;
  animation: mod-fade-out 1.1s ease-out;
  position: absolute;
  right: 0;
  top: 0;
}

.clock-bonus {
  color: hsl(88, 62%, 37%);
}

.clock-malus {
  color: #ff441d;
}

.combo-bars {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
}

.progress {
  width: 90%;
  height: 40px;
  background-color: #3E3B38;
  border: 1px solid hsl(0, 0%, 25%);
  margin-left: auto;
  margin-right: auto;
}

.progress-value {
  box-shadow: 0 0 15px #BF811D;
  transition: all 0.5s ease-in-out;

  height: 40px;
  background-color: #BF811D;
}

.progress-value.progress-malus {
  box-shadow: 0 0 10px #ff441d, 0 0 20px #ff441d;
  background-color: #ff441d;
  transition-property: width;
}

@keyframes bar-full {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.progress-value.progress-bonus {
  display: none;
}

.progress-bonus-full {
  display: block;
  height: 40px;
  opacity: 1;
  box-shadow: 0 0 10px hsl(209, 79%, 56%), 0 0 20px hsl(209, 79%, 56%);
  background-color: hsl(209, 79%, 56%);
  width: 100%;

  animation: bar-full 1.1s ease-in-out;
  transition-property: opacity;
}

.combo {
  display: flex;
  flex-flow: row nowrap;
}

.combo-counter {
  display: flex;
  flex-flow: column;
  transition: color 0.1s;
  justify-content: center;
  margin-right: 20px;
}

.combo-counter-value {
  display: flex;
  flex-flow: column;

  justify-content: center;
  font-family: 'clock';
  font-size: 2.4em;
  line-height: 0.9em;
  width: 2ch;
  margin-top: 0.12em;
}

.combo-counter-indicator {
  display: flex;
  flex-flow: column;
  font-size: 0.8em;
  color: #6B6B6B;
}

.combo-levels {
  display: flex;
}

.combo-level {
  direction: ltr;
  transform: skewX(-10deg);
  flex: 21% 0 0;
  margin-top: 4%;
  margin-right: 4%;
  font-size: 0.9em;
  height: 1.5em;
  line-height: 1.5em;
  border: 1px solid hsl(0, 0%, 25%);
  background: #161512;
  text-align: center;
  color: #6B6B6B;
  font-weight: bold;
}

@keyframes level-fade-in {
  from {
    background: white;
    box-shadow: 0 0 15px white, 0 0 25px white;
  }

  to {
    box-shadow: 0 0 10px $c-level;
  }
}

.combo-level-active {
  animation: level-fade-in 1s ease-out;

  border: 1px solid hsl(209, 79%, 56%);
  box-shadow: 0 0 10px hsl(209, 79%, 56%);
  color: white;
}

.combo-level-0.combo-level-active {
  background: #2b75b9;
}

.combo-level-1.combo-level-active {
  background: hsl(209, 79%, 56%);
}

.combo-level-2.combo-level-active {
  background: #86bef1;
}

.combo-level-3.combo-level-active {
  background: #5ea8ec;
}

.puzzle-history {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background: #262421;
  transition: background 0.1s;
}

.puzzle-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 10px;
}

.puzzle-info:hover {
  background: hsl(0, 0%, 40%);
  cursor: pointer;
}

.puzzle-status {
  display: flex;
  color: white;
}

.puzzle-time {
  padding: 2px;
  background: gray;
  margin-right: 10px;
}

.puzzle-failed::before {
  content: "☓ ";
}

.puzzle-passed {
  background: hsl(88, 62%, 37%);
}

.puzzle-failed {
  background: #ff441d;
}

.puzzle-passed::before {
  content: "✓ ";
}

.history-buttons {
  justify-content: center;
  text-align: center;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  font-size: 3em;
  background: none;
  border: none;
  color: hsl(0, 0%, 73%);
  border-radius: 10px;
  font-family: "courier new", serif;
}

button:hover {
  background: hsl(88, 62%, 37%);
  cursor: pointer;
}

.run-stats {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background: #262421;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 1024px;
}

.post-game-score {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background: hsl(88, 62%, 37%);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.post-game-score-value {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "clock";
  font-size: 6em;
}

.post-game-score-indicator {
    font-family: "courier new", serif;
}

th {
  text-align: left;
  font-family: "courier new", serif;
  font-size: 1.3em;
}

td {
  font-family: "courier new", serif;
  text-align: right;
}

.number {
  font-family: "clock";
  font-size: 2em;
}

.play-again a, .play-again button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: hsl(209, 79%, 56%);
  font-size: 6em;
  text-align: center;
  color: white;
  text-decoration: none;
  max-width: 1024px;
  width: 100%;
  border-radius: 20px;
  font-family: courier new;
}

.play-again a:hover, .play-again button:hover {
  box-shadow: 0 0 10px white;
  background: hsl(209, 79%, 56%);
}

.comment {
  background-color: #404040;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
